* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: orangered;
}

.books {
  display: flex;
  flex-direction: column;
}

#carousel {
  display: flex;
  flex-wrap: nowrap;
  width: 800px;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.booksection {
  border: red 2px solid;
  scroll-snap-align: start;
}
